@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font: normal 20pt 'Poppins';
}

body {
    background-color: #141314;
}

::-webkit-scrollbar {
    display: none;
}

main {
    width: 100vw;
    min-height: 100vh;
}

/* ---------------NAVEGAÇÃO---------------*/

nav {
    flex: none;
    height: auto;
    left: 50%;
    position: fixed;
    top: 30px;
    transform: translate(-50%);
    width: auto;
    z-index: 9;
}

nav ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 48px;
    justify-content: space-between;
    overflow: visible;
    padding: 0 20px;
    position: relative;
    width: 250px;
    background-color: var(--cinza);
    border-radius: var(--bordas);
}

nav ul li a{
    font-size: 20px;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--azul);
}

/* ---------------TELA INICIAL---------------*/

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
}

.card-me {
    width: 300px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #1C1C1D;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.card-me i{
    font-size: 35px;
}

.card-me i:hover {
    color: var(--azul);
}

.card-me h3 {
    font-size: 18px;
}
.card-me h2{
    font-weight: 600;
}

.card-me button {
    background-color: var(--azul);
    border: none;
    height: 40px;
    border-radius: var(--bordas);
    font-size: 15px;
    padding: 2px 20px 2px 20px;
}

.card-me button:hover {
    background-color: var(--branco);
}

.card-me button a {
    text-decoration: none;
}

.card-me button:hover a {
   color: #000;
}

.card-me h2, h3, a, button {
    color: var(--branco);
    background-color: none;
}

.card-me img{ 
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

/* ---------------TELA DE PROJETOS---------------*/

#projetos {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.texto-pj {
    color: var(--branco);
    text-align: left;
    width: 43%;
    margin-bottom: 20px;
}

.texto-pj h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
}

.texto-pj span {
    color: var(--azul);
}

.pj-lista{
    display: flex;
    flex-direction: row;
}

.card-projeto {
    width: 300px;
    height: 250px;
    background-color: var(--cinza);
    margin-left: 10px;
    border-radius: 10px;
    color: var(--branco);
}

.imagem-card-pj img {
    background-color: var(--azul);
    width: 100%;
    height: 160px;
    border-radius: 10px 10px 0px 0px;
}

.info-card-pj {
    padding: 10px;
}

.info-card-pj p {
    font-size: 15px;
}

#nome-projeto{
    color: var(--branco);
    font-weight: 600;
}

/* ---------------TELA DE TECNOLOGIAS---------------*/

#skills {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.card-skills{
    color: var(--branco);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#skills .texto-pj{
    width: 40em;
    margin-bottom: 20px;
}

.info-skills {
    background-color: var(--cinza);
    width: 9.5em;
    height: 2.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background 0.5s ease-in-out;
}

.info-skills i {
    font-size: 35px;
    background: var(--branco);
    border-radius: 10px;
    width: 45px;
    height: 35px;
    text-align: center;
    padding: 5px;
    color: var(--azul);
}

.text-skills{
    width: 52%;
    display: flex;
    flex-direction: column;
}

.text-skills p {
    font-size: 15px;
}

.info-skills:hover{
    background-color: var(--azul);
}
/* ---------------TELA DUVIDAS---------------*/

#duvidas {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.left {
    color: var(--branco);
    width: 30%;
}

.left .texto-pj {
    margin-bottom: 30px;
}

.faq{
    list-style: none;
}

.faq li {
    width: 100%;
    margin-bottom: 10px;
}

.faq li label {
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.faq li label::before {
    content: '+';
    margin-right: 10px;
}

.faq input[type=radio] {
    display: none;
}

.faq .resposta {
    padding: 0px 14px;
    background-color: var(--cinza);
    max-height: 0;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    transition: max-height .5s, padding .5s;
}

.faq input[type=radio]:checked + label + .resposta{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.faq input[type=radio]:checked + label::before {
    content: '-';
}

.resposta p {
    font-size: 15px;
}

.right {
    color: var(--branco);
    width: 30%;
    display: flex;
    flex-direction: column;
}

.right h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 18px;
    text-align: right;
}

.formulario {
    background-color: var(--cinza);
    border-radius: var(--bordas);
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formulario input, textarea {
    border-radius: var(--bordas);
    margin-bottom: 20px;
    width: 96%;
    padding: 10px;
}

.formulario label {
    font-size: 15px;
}

.formulario input, textarea::placeholder{
    font-size: 13px;
}

.formulario textarea{
    font-size: 13px;
}

#envio {
    background-color: var(--azul);
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: var(--bordas);
    cursor: pointer;
}

span {
    color: var(--azul);
    margin-left: 5px;
}

/* ---------------FOOTER---------------*/

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h3 {
    text-align: center;
    font: normal 15px 'poppins';
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 2s;
}